// Colors
@import "node_modules/bootswatch/dist/litera/variables";

// https://flatuicolors.com/palette/us
$theme-white: $white;
$theme-off-white: $gray-100;

$theme-primary-1: $red;
$theme-primary-2: $blue;
$theme-secondary-1: $green;
$theme-secondary-2: $orange;

$theme-dark: $gray-900;
$themne-dark-translucent: rgba(33, 37, 41, 0.8);
$theme-gray: $gray-700;
$theme-gray-translucent: rgba(73, 80, 87, 0.8);
$theme-light-gray: $gray-500;

$theme-links: $orange;

$hero-head: $theme-primary-1;
$hero-text: $theme-white;
$hero-bg: $theme-gray-translucent;