
@import "~bootswatch/dist/litera/variables";
@import "colors";

@import "~bootstrap/scss/bootstrap";

@import "~bootswatch/dist/litera/bootswatch";
@import "footer";

// page-level layout

html {
  height: 100%;
}

body {
  height: 100%;
}

#___gatsby {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pageContent {
  flex: 1;
}

a {
  color: $theme-links;
}

hr {
  &.thick {
    border-top-width: 8px;
    border-color: black;
  }
}

.navbar-nav {
  flex-direction: row!important;

  & > * {
    padding-left: 10px;
  }

  .nav-link {
    font-size: 18px;
  }
}

.jumbotron {
  margin: 0 -15px;
  padding: 0;
  background-color: $theme-white;

  .hero-image {
    background-position: center;
    min-height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@include media-breakpoint-up(md) {
  .jumbotron .hero-image {
    min-height: 480px;
  }
}

@include media-breakpoint-up(lg) {
  .jumbotron .hero-image {
    max-width: 90%;
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
  }
}

@include media-breakpoint-up(xl) {
  .jumbotron .hero-image {
    max-width: 70%;
  }
}

.hero-image {
  display: flex;
  flex-direction: column;
}

.attribution {
  margin-left: auto;
  font-size: 10px;
  color: $light;
}

.hero-title {
  padding: 40px 40px;

  color: $hero-text;

  h1 {
    color: $hero-head;
  }

  .subtitle {
    background-color: $hero-bg;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 2px;
    position: relative;
    left: 60%;
    max-width: 40%;
    max-height: 50%;

    p {
      margin: 0px;
    }
  }
}

.hero-body {
  margin-bottom: auto;
  display:flex;
  padding: 4px;
  flex-grow: 1;

  color: $light;
  > h1 {
    font-weight: bold;
  }
}

.card.empty {
  border: 0px;
}

.feature {
  min-height: 200px;
  max-width: 90%;
  background-color: $theme-primary-1;
  margin: 0 auto;
  transform: translateY(-30px);

  &.feature-sm {
    background-color: inherit;
    transform: translateY(-110%);
    margin-bottom: -200px;
  }

  .col {
    padding: 10px;
  }

  .bgimg {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    background-position: center;

    h2 {
      position: relative;
      left: 10%;
      max-width: 90%;
      top: 120px;
      background-color: $theme-dark;
      color: $hero-text;
      padding: 2px;
      border-radius: 4px;
    }
  }

  .btn {
    position: relative;
    top: 120px;
    left: 20%;
    width: 85%;
  }
}

@include media-breakpoint-up(md) {
  .feature .btn {
    top: 80px;
  }
}

@include media-breakpoint-up(xl) {
  .feature {
    max-width: 70%;
  }
}

.card {
  a[href] {
    color: inherit;
  }

  a[data-toggle="collapse"] {
    cursor:pointer;
  }
}

.member {
  padding-bottom: 1em;

  .memberName {
    padding-bottom: 0.5em;

    .name {
      font-weight: bold;
      min-width: 10em;
    }

    .amt {
      margin-left: auto;
      margin-right: auto;
    }

    .cruId {
      margin-right: 6px;
      font-family: monospace;
      &::before {
        content: 'Cru Account #'
      }
    }

    .donate {
      margin-right: 0;
    }
  }
}

blockquote {
  @extend .blockquote;

  background: #f9f9f9;
  border-left: 4px solid #ccc;
  margin: 0.5em;
  padding: 0 0.5em;
  font-family: Helvetica;
  font-size: 14pt;
}

.blog {
  .title {
    margin-top: auto;
    word-wrap: break-word;
    max-width: 100%;


    @include media-breakpoint-down(sm) {
      font-size: 3.5rem;
    }
  }

  .post {
    padding-top: 2rem;

    > p::first-letter,
    > .nc-widgetPreview > p::first-letter {
      font-size: 1.1rem;
      margin-left: 1rem;
      text-transform: uppercase;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    > p:first-child::first-letter,
    > .nc-widgetPreview > :first-child::first-letter {
      font-size: 5rem;
      line-height: 5rem;
      float: left;
      margin: 0 2px 0 0;
    }

    h1 {
      padding-bottom: 2px;
      border-bottom: 1px dotted grey
    }

    img {
      max-width: 100%;
    }

  
    .callout {
      float: right;
      border: 1px solid $secondary;
      width: 50%;
      border-radius: 16px;
      padding: 8px;
      margin: 10px 0 10px 10px;
      color: $white;
      background-color: $info;
      box-shadow: -6px -6px 6px 0 $secondary;
    }

    @include media-breakpoint-down(sm) {
      .callout {
        width: 100%;
      }
    }
  }

  .author {
    float:right;
    display: flex;
    flex-direction: column;
    color: $light;
    font-size: 1rem;

    > img {
      margin: 0 auto;
      max-width: 80px;
      max-height: 80px;
    }
  }

  .blog-body .author {
    margin: 2em 2em 0.5em 0.5em;
    padding: 1em;
    background-color: $primary;
    border-radius: 20px;
    display: none;
  }

  @include media-breakpoint-up(md) {
  .hero-body .author {
    display: none;
  }
  .blog-body .author {
    display: flex;
  }
  }
}

.post-list {
  padding-left: 0px;

  .year-header:first-child {
    display: none;
  }

  // all but the first year header
  .year-header:nth-child(n+2) {
    margin-top: 20px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      border-top: 1px dashed;
      border-left: 1px dashed;
    }
  }

  .hero {
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: center;
    margin: 0.5em;
    border-radius: 12px;
  }

  .title {
    margin: auto 10px;
  }

  .teaser {
    padding: 5px;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border-radius: 12px;

    &:hover {
      border: 1px solid $black;
      padding: 0;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.body {
  color: $body-color;
}

.homepage {
  .signup {
    margin: 0 70px 0 auto;
  }

  @include media-breakpoint-down(sm) {
  .eventsList {
    .card:nth-child(n+4) {
      display: none;
    }

    .card:nth-last-child(-n+2) {
      display: block;
    }
  }
  }
}

.eventsList {
  .card a[href] {
    color: $theme-links;
  }
}

.blog-list {

  padding-top: 2rem;

  ul {
    padding-left: 0;

    @include media-breakpoint-up(xl) {
      position: relative;
      left: -40px;
      width: calc(100% + 40px);
    }

    @media (min-width: 1400px) {
      left: -100px;
      width: calc(100% + 100px);
    }
  }

  li {
    border-bottom: 1px solid black;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    a > * {
      display: block;
    }

    .body {
      font-size: 12px;
    }

    .title {
      font-size: 24px;
    }
  }
}

@each $color, $value in $colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
