@import '../../colors';

.footer {
  color: $theme-light-gray;
  background-color: $theme-dark;
  padding-bottom: 20px;

  .footer-content {
    width: 100%;
    padding-top: 10px;

    > * {
      margin: 0 auto;
      text-align: center;
    }
  }

  ul {
    list-style: none;
    column-gap: 10px;
    padding-left: 10px;

    li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      break-inside: avoid-column;
    }
  }

  a {
    color: $theme-light-gray;
  }
}

.list-header {
  text-decoration: underline;
  font-weight: bold;
}